.icon-badge-group {}

.icon-badge-group .icon-badge-container {
    display: inline-block;
    margin-left: 15px;
}

.icon-badge-group .icon-badge-container:first-child {
    margin-left: 0
}

.icon-badge-container {
    /* margin-top:20px; */
    position: relative;
}

.icon-badge-icon {
    font-size: 30px;
    position: relative;
    color: #252b3b;
}

.icon-badge {
    background-color: #c18f0a;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 35%;
    position: absolute;
    top: 2px;
    left: 18px;
}



