#menubar ul {
  text-transform: uppercase;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#menubar ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -5px;
  position: relative;
  padding: 10px 8px;
  background: #f7f7f7;
  color: var(--cor-preta);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#menubar ul li:hover {
  background: #e8c026;
  color: #f7f7f7;
}

#menubar li ul {
  display: none;
  background-color: #f7f7f7;
  position: absolute;
  margin-top: 15px;
  margin-left: -20px;
  padding: 0px 0px 0px 0px;

}

#menubar li ul a li {
  width: 8em;
  border-bottom: 1px solid #e7e7e7;
}

#menubar li:hover ul {
  display: block;
}

#menubar li ul a li:hover {
  width: 8em;
}

/*----------------------------------*/
#menubar li ul li ul li {
  display: none;
  margin-left: 0px;
  position: relative;
}

#menubar li ul li:hover ul li {
  display: block;
}

#menubar ul ul ul {
  left: 100%;
  top: 0;
  margin-left: 0px;
}


.menu_options {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  margin-top: var(--altura-g);
}



.mobile-container {
  display: none;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
}

.logo-menu {
  width: 150px;
  height: 150px;

  left: 0;
  padding-left: 8%;

}

.text-bold {
  font-family: 'Barlow-Bold';
}

.hidden-arrow {
  display: none;
}

.map-link img {
  margin-left: 2px;
}

.side-bar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: right;
  background: var(--cor-amarela2);
  min-height: 100vh;
  z-index: 20;
}

.side-bar.active {
  right: 0;
}

.side-bar .menu-item {
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu-item .item {
  position: relative;
  cursor: pointer;
}


.fig {
  width: 100%;
  color: white;
  position: relative;
  overflow: hidden;
}


.fig:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #006266;
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}

.fig:hover:before {
  transform: translateY(0);
  transition-delay: 0s;
}

.fig .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.fig svg {
  font-size: 3rem;
  fill: #A7A7A7;
}


.fig h3,
.fig h5 {
  margin: 0;
  letter-spacing: 1px;
}

.fig h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}

.fig h5 {
  background-color: #ae895d;
  padding: 3px 10px;
}

.fig:hover .caption {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}

.side-bar .menu-item .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
  text-align: center;
  font-family: 'Monteserrat-Regular';
}

.side-bar .menu-item .item a:hover {
  background: #e4a52f;
  transition: 0.3s ease;
}

.side-bar .menu-item .item i {
  margin-right: 15px;
}

.side-bar .menu-item .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu-item .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu-item .item .sub-menu a {
  padding-left: 80px;
}

.rotate {
  transform: rotate(90deg);
}

.close-btn {
  position: absolute;
  color: #3f692a;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
  z-index: 20;
}

.menu-t-btn {
  position: absolute;
  color: #000000;
  font-size: 29px;
  margin: 25px;
  right: 0;
  cursor: pointer;
  z-index: 20;
}

.menu-t-btn svg {
  fill: #faa914;

}

.mobile-container {

  height: 70px;

}



.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav img {
  width: 10%;
  height: 10%;
}

.topnav a {
  color: #484848;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #F2CA80;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



.topnav .logo-elza {
  color: transparent;

}

.active {
  color: white;
}






nav {
  display: grid;
  grid-template-columns: 24% 62% 14%;
  grid-template-rows: 88px;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px -2px rgba(151, 145, 145, 0.75);
  position: fixed;
}

.nav-menu {
  height: 88px;
}

.menu-btn {
  display: none;
}

.logo {
  display: flex;
  align-items: right;
  justify-content: right;
  z-index: 1;
}

.logo img {
  object-fit: cover;
  width: 100%;
  margin-top: 10px;
  height: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 9px;
  padding-bottom: 20px;
  margin-top: 45px;
}

nav ul li {
  padding-right: 27px;
  padding-left: 27px;

  border-right: 1px solid #153306;
  font-family: Monteserrat-Regular, Geneva, Tahoma, sans-serif;
  color: #3f692a;
  letter-spacing: 1px;

}

nav ul li a {
  color: #3f692a;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;



  letter-spacing: 1px;
  transition: all 0.3 ease;

}

nav .menu .text-simulacao {
  background: #F2CA80;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  font-weight: 900;
}

nav ul li a.active {

  border-radius: 15px;
  background: #3f692a;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

nav li:last-child {
  border-right: none;

}

nav .menu-btn svg {
  color: #fff;
  cursor: pointer;
  display: none;
}

.menu-t-btn {
  visibility: hidden;
}

ul.menu-horizontal,
.menu-horizontal li,
.menu-horizontal a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

ul.menu-horizontal ul {
  position: absolute;
  display: none;
  /* box-shadow: 3px 3px 2px #333; */
}

/* Configurações nivel 1*/
ul.menu-horizontal {
  float: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  padding: 0 5px;
}

.menu-horizontal li {
  float: left;
  width: auto;
  position: relative;
}

.menu-horizontal li a {
  display: block;
  padding: 0 20px;
  line-height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  transition: all 0.1s linear;
  font: bold 12px / 18px sans-serif;
  text-transform: uppercase;
}

.m-horizontal{
  display: flex;
  justify-content: center;
}

/* Configurações nivel 2*/
.menu-horizontal li:hover>ul.submenu-horizontal-1 {
  display: block;
  top: 30px;
  left: 0;
  padding: 5px;
  width: 100%;
  /* border-radius: 0 0 5px 5px; */
  z-index: 2;
}

.menu-horizontal ul.submenu-horizontal-1 a {
  /* width: 160px; */
  /* padding: 0 20px; */
  border-radius: 5px;
}

/* Configurações nivel 2*/
.menu-horizontal li:hover>ul.submenu-horizontal-2 {
  display: block;
  top: 0;
  left: 195px;
  padding: 5px;
  width: 200px;
  border-radius: 0 5px 5px 5px;
}

.menu-horizontal ul.submenu-horizontal-2 a {
  width: 160px;
  padding: 0 20px;
  border-radius: 5px;

}

/* Configurações nivel 3*/
.menu-horizontal li:hover>ul.submenu-horizontal-3 {
  display: block;
  top: 0;
  left: 195px;
  padding: 5px;
  width: 200px;
  border-radius: 0 5px 5px 5px;
}

.menu-horizontal ul.submenu-horizontal-3 a {
  width: 160px;
  padding: 0 20px;
  border-radius: 5px;

}

/*nivel 1*/
.menu-horizontal {
  background: #f7f7f7;
}

.menu-horizontal a {
  color: #000;
}

.menu-horizontal li:hover>a {
  background: #e8c026;
  color: #fff;
}

/*nivel 2*/
.submenu-horizontal-1 {
  background: #999;
  z-index: 9999 !important;
}

.submenu-horizontal-1 a {
  color: #f7f7f7;
}

.submenu-horizontal-1 li:hover>a {
  background: #666;
}

/*nivel 3*/
.submenu-horizontal-2 {
  background: #666;
}

.submenu-horizontal-2 a {
  color: #fff;
}

.submenu-horizontal-2 li:hover>a {
  background: #333;
}

/*nivel 3*/
.submenu-horizontal-3 {
  background: #333;
}

.submenu-horizontal-3 a {
  color: #fff;
}

.submenu-horizontal-3 li:hover>a {
  background: #000;
}


@media only screen and (max-width: 782px) {

  .header {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-top: var(--altura-g);
    margin-bottom: var(--altura-g);
    align-items: center;
  }

  .box {
    margin-top: 20px;
  }

  .list-network {
    display: none;
  }

  .menu-t-btn {
    visibility: visible;
  }

  .menu_options {
    display: none;
  }

  header {
    display: block;
  }


  .nav-menu {
    height: 0px;
  }


  .mobile-container {
    display: block;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
  }

  .logo img {
    object-fit: contain;
    width: 150px;
    height: 100px;
  }



  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }

  .topnav {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    display: block;
  }

  nav {

    grid-template-rows: 45px;
    display: none;
    margin-top: 200px;

  }

  .menu-btn {
    display: block;
    order: 2;
    text-align: center;
  }


  nav .menu-btn svg {
    display: block;
    padding-top: 10px;
    float: right;
    margin-right: 10px;
    width: 35px;
    height: 35px;
  }

  nav ul {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #f2ca80;
    height: 100vh;
    max-width: 50%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 5;
  }

  nav ul.open {
    left: 0;
  }

  nav li a {
    padding-right: 5%;
  }

  nav ul li {
    width: 100%;
    margin-top: 50px;
    margin-left: -4%;
    border: 0;
  }

  nav ul li a {
    font-size: 1.4375rem;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: white;
    font-weight: bold;
  }



  nav .menu-btn svg {
    display: block;
    padding-top: 10px;
    float: right;
    margin-right: 10px;
    width: 35px;
    fill: #f2ca80;
    height: 35px;
  }

  .fig svg {
    display: none;
  }


  #back-to-top {
    visibility: visible;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }

  #back-to-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
  }

  #back-to-top a:hover {
    opacity: 0.7;
  }

  #back-to-top svg {
    height: 35px;
  }

}